

:root {
 --color-white: hsl(0,0%,100%);
 --color-light-gray: hsl(212,45%,89%);
 --color-blue: hsl(220,15%,55%);
 --color-dark-blue: hsl(218,44%,22%);

}


*,
*::before,
*::after {
  box-sizing: border-box;  
}

body {
  margin: unset;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: var(--color-light-gray);
  font-family: Outfits,-apple-system, BlinkMacSystemFont, "Segoe UI","Helvetica Neue", sans-serif;
  font-size: 15px;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

img {
  max-width: 100%
  height auto;
}


main {
  background-color: var(--color-white);
  max-width: 320px;
  padding: 1.075rem;
  border-radius: 1.35rem;
  box-shadow: 0 1.6rem 1.6em hsla(0,0%,0%,0.05);
  text-align: center;
  margin: 1.075rem;
  
}

img {
  border-radius: 0.675rem;
}


h1{
  font-size: 1.375rem;
  line-height: 1.275;
  margin-top: 1.1em;
  color: var(--color-dark-blue);
}

p {
  line-height:1.3;
  color: var(--color-blue);
  margin: 1.075em;
}

div {
  font-size: 15px;
}